**/toms_ca_chain.pem
**/toms_ca_crt.pem
**/toms_ca_key.pem
**/.vs
.vscode/settings.json
.vscode/pinned-files.json

templates/*

k8s_yaml_appsettings
k8s_yaml_nonprod_appsettings
temp
logs
nonprod_images
prod_images

deploy_image_cmd_file/_pack_deploy_images_cmd.bat
deploy_image_cmd_file/_restart_dmz_app.sh
deploy_image_cmd_file/_restart_trust_app.sh
deploy_image_cmd_file/_tag_and_push_image.sh
deploy_image_cmd_file/_unpack_deploy_images_cmd.sh
deploy_image_cmd_file/*.tar
deploy_image_cmd_file/*.zip
deploy_image_cmd_file/*.log
deploy_image_cmd_file/*.txt
deploy_image_cmd_file/k8s_yaml/**

k8s_yaml_appsettings_*
k8s_yaml_das_values
__pycache__

**/deploy_toms/*.tar
**/deploy_toms/*.zip


env_diff.csv
tunnel_diff.csv
